.NavbarContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 2, 131);
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
}
.NavbarTextContent{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.NavbarButtonsContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.NavbarButtonsContent button{
    border: solid 1px #000000;
    background: #afafaf;;
}

.logoIg{
height: 30px;
width: 30px;
}
