.AboutmeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #000;
}
.Texto{
 width: 50%;
}
.Texto h1{
margin-left: 20px;
}
